## Ignore .dll files
*.dll

## Ignore folders
.idea/
obj/

## Allow only .cs files
**/*
!**/*.cs
!**/*.png
!**/*.csproj
.DS_Store
CleanCoders.Tests/obj/Debug/net8.0/CleanCoders.Tests.AssemblyInfo.cs
CleanCoders.Tests/obj/Debug/net8.0/CleanCoders.Tests.AssemblyInfoInputs.cache
CleanCoders.Tests/obj/Debug/net8.0/CleanCoders.Tests.csproj.AssemblyReference.cache
CleanCoders.Tests/obj/rider.project.model.nuget.info
src/.DS_Store
src/CleanCodersCom/.DS_Store
src/CleanCodersCom/bin/.DS_Store
src/CleanCodersCom/obj/Debug/net8.0/CleanCodersCom.AssemblyInfo.cs
src/CleanCodersCom/obj/Debug/net8.0/CleanCodersCom.AssemblyInfoInputs.cache
src/CleanCodersCom/obj/rider.project.model.nuget.info
